html,
body {
  margin: 0px;
  background-color: hsl(0, 0%, 18%);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

html{
  height: 100vh;
  width: 100vw;
}

body{
  height: 100%;
  background-size: 3px 3px;
  background-image:
  linear-gradient(0deg, hsla(0,0%,0%,0) 0, hsla(0, 0%, 10%,1) 3px),
  linear-gradient(90deg, hsla(0,0%,0%,0) 0, hsla(0, 0%, 10%,1) 5px) ;
}

main{
  margin:0;
  padding:0;
  height: 100%;

  --caret-color: #868;
  --white: #FEFEFE;
  --king-blue:#88A9FF;
}

div.help{
  & button{
    width: 1.25rem;
    height: 1.25rem;
    padding: 0;
    margin:0;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--king-blue);
    border-radius: 50%;
  }
}

nav {
  background:unset;
  text-align: center;
  margin: auto;
  max-width: 60.267%;
  position: relative;

  & menu{
    border-radius: 8px;
    box-shadow: 1px 2px 3px #222;
    background-color: #222;
    display: inline-block;
    padding: 1rem 0;
    position: absolute;
    transform: translateY(-0.156rem);
    width: 6.025rem;
    margin: 0;
    top: 74%;

    & li{
      text-decoration: none;
      margin: 0;
      list-style: none;
    }

    & button{
      font-size: 1.25rem;
      background: unset;
      border: none;
      margin-top: 1rem;
    }
  }

  & div{
    display: inline-block;
    max-width: max-content;
    position:relative;
    margin: 0 2rem;
  }

  & .menu-parent{
    max-width: unset;
    width: 30px;
    height: 2rem;
    margin:auto;
    background:steelblue;

    & menu{
      opacity: 0;
      transition: all 0.329s cubic-bezier(0.39, 0.575, 0.565, 1);
      pointer-events:none;
    }
  }

  & .menu-parent:hover{
    & menu{
      opacity: 1;
      pointer-events:auto;
      transform: translateY(0);
    }
  }

  & input{
    background-color: inherit;
    margin:0;
    border:#EE2 solid 1px;
    resize: none;
    padding: 0.25em;
    outline:none;
    transform: scale(1);
    transition: all 0.16s;
    caret-color:var(--white);
  }

  & input:hover{
    transform: scale(1.09);
    box-shadow: 1px 1px 5px hsla(0, 0%, 84%,0.45);
  }

  & span{
    animation: blink 1s step-end infinite;
    border-left: 2px solid var(--caret-color);
    box-sizing: border-box;
    position: absolute;
    height:calc(100% - 0.5em);
    top:0.25em;
    right:0;
  }

  & label{
    display: inline-grid;
    position: relative;
    align-items: center;
    box-sizing: border-box;

    & input{
      font-size: 2rem;
      width:auto;
      grid-area: 1/2;
    }
  }

  & label:hover{
    filter:blur(6px);
    transform-style:preserve-3d;

  & input{
    transform: scale(1.09);
    box-shadow: 1px 1px 5px hsla(0, 0%, 84%,0.45);
  }
  }

  & label::after{
    font-size: 2rem;
    box-sizing:border-box;
    grid-area: 1/2;
    content: attr(data-value) " ";
    visibility: hidden;
    white-space: pre-wrap;
  }
}

#sidebar {
  grid-area: sidebar;
  overflow-y: scroll;
  display:none;
}

#content {
  margin: 1rem;
  height: 600px;
  box-sizing: border-box;
  text-align: center;
  & canvas {
    border-radius: 12px;
  }
}

.header {
  font-family: Helvetica, sans-serif
}

.sideBarItem {
  max-height: 50px;
  max-width: 50px;
  padding: 5px;
}

.sideBarItem img {
  max-height: 50px;
  max-Width: 50px;
}

.colourPalette {
  grid-area: colourP;
  display: flex;
  flex-direction: grid;
  flex-flow: wrap;
}

.box {
  background-color: #444;
  color: #fff;
  font-size: 150%;
}

@keyframes blink {

  from,
  to {
    border-color: transparent;
  }

  50%{
    border-color: var(--caret-color);
  }
}