html,
body {
  margin: 0px;
  background-color: #222;
}

main{
  margin:0;
  padding:0;
  height: 100%;
}

nav {
  text-align: center;

  & menu{
    display: inline-block;
  }
}

#sidebar {
  grid-area: sidebar;
  overflow-y: scroll;
  display:none;
}

#content {
  margin: 1rem;
  height: 600px;
  box-sizing: border-box;
  text-align: center;
  & canvas {
    border-radius: 12px;
  }
}

.header {
  font-family: Helvetica, sans-serif
}

.sideBarItem {
  max-height: 50px;
  max-width: 50px;
  padding: 5px;
}

.sideBarItem img {
  max-height: 50px;
  max-Width: 50px;
}

.colourPalette {
  grid-area: colourP;
  display: flex;
  flex-direction: grid;
  flex-flow: wrap;
}

.box {
  background-color: #444;
  color: #fff;
  font-size: 150%;
}

.header {
  background-color: #999;
}